section {
    background: white;
    margin: 60px auto 80px;
    border-top: 15px solid #313a3d;
    text-align: center;
    width: 80%;
    max-width: 1100px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #b6b6b6;
}
section h1 {
    color: #313a3d;
    margin-bottom: 40px;
    font-size: 4em;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
form {
    width: 70%;
    margin: 0 auto;
}
form .field {
    width: 100%;
    position: relative;
}
form .field label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: #313a3d;
    width: 100%;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field label + span {
    font-family: 'SSStandard';
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 7%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field input[type="text"], form .field textarea {
    border: none;
    background: #e8e9ea;
    width: 100%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: #313a3d;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}
form .field input[type="text"]#message, form .field textarea#message {
    height: 71px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form .field input[type="text"]:focus, form .field textarea:focus,
 form .field input[type="text"].focused, form .field textarea.focused {
    outline: none;
}
form .field input[type="text"]:focus#message, 
form .field textarea:focus#message, 
form .field input[type="text"].focused#message, 
form .field textarea.focused#message {
    padding-bottom: 150px;
}
form .field input[type="text"]:focus + label,
form .field textarea:focus + label, 
form .field input[type="text"].focused + label, 
form .field textarea.focused + label {
    width: 18%;
    background: #fd9638;
    color: #313a3d;
}

form .field input[type="text"].focused + label, 
form .field textarea.focused + label {
    color: #fd9638;
}
form .field:hover label,
form .field .isOpen {
    width: 18%;
    background: #313a3d;
    color: white;
}

form input[type="submit"] {
    background: #fd9638;
    color: white;
    -webkit-appearance: none;
    border: none;
    margin-bottom: 40px;
    text-transform: uppercase;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}
form input[type="submit"]:hover {
    background: #313a3d;
    color: #fd9638;
}
form input[type="submit"]:focus {
    outline: none;
    background: #cd6302;
}

.card-footer
{
    background: #fd9638;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

.card-footer span
{
    color: white;

    text-transform: uppercase;
    width: 100%;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;

    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

.card-footer span:hover
{
    color: #fd9638;
}

.card-footer .btn:focus {
    outline: none;
}

.card-footer:hover
{
    background: #313a3d;
}

@media only screen and (max-width: 1200px) {
    form .field input[type="text"]:focus + label, 
    form .field textarea:focus + label, 
    form .field input[type="text"].focused + label, 
    form .field textarea.focused + label {
        width: 18%;
        background: #fd9638;
    }
    form .field input[type="text"]:focus + label span, 
    form .field textarea:focus + label span, 
    form .field input[type="text"].focused + label span, 
    form .field textarea.focused + label span
    {
        visibility: hidden;
    }

    form .field:hover label span{
        width: 18%;
        background: #313a3d;
        visibility: hidden;
    }

    section h1 {
        font-size: 3em;
    }
}

@media only screen and (max-width: 768px)
{
    section h1 {
        font-size: 2em;
    }
}