<footer class="page-footer font-small text-white bg-dark">
  <div class="container">

    <div class="row text-center d-flex justify-content-center pt-5 mb-3">


      <div class="col-md-4 col-lg-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-white" [routerLink]="['/home']">Home</a>
        </h6>
      </div>

      <div class="col-md-4 col-lg-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-white" [routerLink]="['/formulaire']">Formulaire</a>
        </h6>
      </div>

      <div class="col-md-4 col-lg-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-white" [routerLink]="['/crud']">CRUD</a>
        </h6>
      </div>

      <div class="col-md-4 col-lg-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-white" [routerLink]="['/fun']">Fun</a>
        </h6>
      </div>

      <div class="col-md-4 col-lg-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a class="text-white" [routerLink]="['/contact']">Contact</a>
        </h6>
      </div>

      <!-- Drop up pour les tutoriels -->

    </div>
    <hr class="bg-light" style="margin: 0 15%;">

    <div class="row d-flex text-center justify-content-center">

      <div class="col-md-8 col-12 mt-4">
        <p style="line-height: 1.7rem">
        Ce projet a été réalisé dans le cadre du cours Programmation Web Avancé 420-335-AL</p>
      </div>

    </div>
    <hr class="clearfix d-md-none bg-light" style="margin: 10% 15% 5%;">

  </div>

  <div class="footer-copyright text-center py-3">© 2020 Copyright: Renaud Vincent
  </div>

</footer>