<header class="layer d-flex align-items-center">
    <div class="container">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10">
                <h1 class="text-uppercase text-dark font-weight-bold">Bienvenue sur le site Web de Vincent Renaud !</h1>
                <hr class="separateur my-5" />
            </div>
            <div class="col-lg-8">
                <p class="text-white-75 font-weight-light mb-5">Un jeune programmeur à la recherche de stages</p>
            </div>
        </div>
    </div>
</header>

<section class="bg-orange">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">À propos de moi !</h2>
                <hr class="separateur my-5" />
                <h5 class="text-white my-5">Je suis un étudiant de troisième session en technique de l'informatique au cégep André-Laurendeau à Lasalle. Je suis passionné par la programmation, les histoires de fantaisie et de mystère.</h5>
                <a href="https://www.claurendeau.qc.ca" target="_blank">
                    <input id="cegep" class="button" type="button" value="Mon Cégep" />
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container text-dark my-5">
        <h2 class="text-center mt-0">Services</h2>
        <hr class="separateur mt-5" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-4">
                    <i class="fas fa-4x fa-clock text-orange mb-4"></i>
                    <h3 class="h4 mb-2">Ponctuel</h3>
                    <p class="text-muted mb-0">Je sais gérer mon temps et place la ponctualité à la première place</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-4">
                    <i class="fas fa-4x fa-laptop-code text-orange mb-4"></i>
                    <h3 class="h4 mb-2">À jour</h3>
                    <p class="text-muted mb-0">Je m'efforce toujours de suivre l'actualité dans le monde de la programmation</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-4">
                    <i class="fas fa-4x fa-globe text-orange mb-4"></i>
                    <h3 class="h4 mb-2">Bilingue</h3>
                    <p class="text-muted mb-0">Je suis totalement bilingue en français et en anglais</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-4">
                    <i class="fas fa-4x fa-heart text-orange mb-4"></i>
                    <h3 class="h4 mb-2">Passioné</h3>
                    <p class="text-muted mb-0">Je suis investi dans mon travail et passionné par la programmation</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="bg-orange pt-3">
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Mes projets</h2>
                <hr class="separateur my-5" />
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" [src]="['assets/images/coming_soon.JPG']" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">En attente</div>
                        <div class="project-name">Arrive bientôt !</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" [src]="['assets/images/coming_soon.JPG']" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">En attente</div>
                        <div class="project-name">Arrive bientôt !</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" [src]="['assets/images/coming_soon.JPG']" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">En attente</div>
                        <div class="project-name">Arrive bientôt !</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" [src]="['assets/images/coming_soon.JPG']" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">En attente</div>
                        <div class="project-name">Arrive bientôt !</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" [src]="['assets/images/coming_soon.JPG']" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">En attente</div>
                        <div class="project-name">Arrive bientôt !</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img class="img-fluid" [src]="['assets/images/coming_soon.JPG']" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">En attente</div>
                        <div class="project-name">Arrive bientôt !</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-white">
    <div class="container text-dark my-5">
        <h2 class="text-center mt-0">Me contacter</h2>
        <hr class="separateur mt-5" />
        <div>
            <h5 class="text-dark my-5">Je suis en ce moment en recherche de stage, n'hésitez pas à m'envoyer un courriel !</h5>
            <a [routerLink]="[ '/contact']">
                <input id="contact" class="button" type="button" value="Mon Cégep" />
            </a>
            <h5 class="text-dark my-3">Ou me joindre au numéro ci-dessous</h5>
            <div class="ml-auto text-center mt-5">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (111) 222-333</div>
                <div>Ce numéro est temporairement caché pour des raisons de sécurité</div>
            </div>
        </div>
    </div>
</section>


