<section>
    <h1 class="mt-4">Entrez vos informations</h1>

    <form [formGroup]="updateEtudiantForm">
        <div class="field name-box my-4">
            <input type="text" id="firstName" formControlName="firstName" placeholder="PRENOM" [(ngModel)]="etudiant.firstName"/>
            <label [ngClass]="{'isOpen': (formUpdateEtudiant.firstName.valid)}"
                 for="firstName">
                <span>Prénom</span>
            </label>
            <span></span>
        </div>

        <div *ngIf="!formUpdateEtudiant.firstName.valid && (formUpdateEtudiant.firstName.dirty ||formUpdateEtudiant.firstName.touched)">
            <div [hidden]="!formUpdateEtudiant.firstName.errors.required" class="alert alert-danger py-2 mt-3">
                Le prénom est obligatoire
            </div>
            <div [hidden]="!formUpdateEtudiant.firstName.errors.minlength" class="alert alert-danger py-2 mt-3">
                Le prénom doit être d'au moins 4 charactères
            </div>
        </div>

        <div class="field name-box my-4">
            <input type="text" id="lastName" formControlName="lastName" placeholder="NOM" [(ngModel)]="etudiant.lastName"/>
            <label [ngClass]="{'isOpen': (formUpdateEtudiant.lastName.valid)}"
                 for="lastName">
                <span>Nom</span>
            </label>
            <span></span>
        </div>

        <div *ngIf="!formUpdateEtudiant.lastName.valid && (formUpdateEtudiant.lastName.dirty ||formUpdateEtudiant.lastName.touched)">
            <div [hidden]="!formUpdateEtudiant.lastName.errors.required" class="alert alert-danger py-2 mt-3">
                Le nom est obligatoire
            </div>
            <div [hidden]="!formUpdateEtudiant.lastName.errors.minlength" class="alert alert-danger py-2 mt-3">
                Le nom doit être d'au moins 4 charactères
            </div>
        </div>

        <div class="field name-box my-4">
            <input type="text" id="age" formControlName="age" placeholder="AGE" [(ngModel)]="etudiant.age"/>
            <label [ngClass]="{'isOpen': (formUpdateEtudiant.age.valid)}"
                 for="age">
                <span>Age</span>
            </label>
            <span></span>
        </div>

        <div *ngIf="!formUpdateEtudiant.age.valid && (formUpdateEtudiant.age.dirty ||formUpdateEtudiant.age.touched)">
            <div [hidden]="!formUpdateEtudiant.age.errors.required" class="alert alert-danger py-2 mt-3">
                L'age est obligatoire
            </div>
            <div [hidden]="!formUpdateEtudiant.age.errors.min" class="alert alert-danger py-2 mt-3">
                L'age doit être supérieur à 0
            </div>
            <div [hidden]="!formUpdateEtudiant.age.errors.max" class="alert alert-danger py-2 mt-3">
                L'age doit être inférieur à 99
            </div>
            <div [hidden]="!formUpdateEtudiant.age.errors.pattern" class="alert alert-danger py-2 mt-3">
                L'age doit être un nombre
            </div>
        </div>

        <hr>

        <div class="field email-box my-4">
            <input type="text" id="email" formControlName="email" placeholder="EMAIL" [(ngModel)]="etudiant.email"/>
            <label [ngClass]="{'isOpen': (formUpdateEtudiant.email.valid)}"
                 for="email">
                <span>Email</span>
            </label>
            <span></span>
        </div>

        <div *ngIf="!formUpdateEtudiant.email.valid && (formUpdateEtudiant.email.dirty ||formUpdateEtudiant.email.touched)">
            <div [hidden]="!formUpdateEtudiant.email.errors.required" class="alert alert-danger py-2 mt-3">
                L'email est obligatoire
            </div>
            <div [hidden]="!formUpdateEtudiant.email.errors.pattern" class="alert alert-danger py-2 mt-3">
                L'émail doit respecter le pattern : exemple@courriel.com
            </div>
        </div>

        <div class="field name-box my-4">
            <input type="text" id="location" formControlName="location" placeholder="LOCATION" [(ngModel)]="etudiant.location"/>
            <label [ngClass]="{'isOpen': (formUpdateEtudiant.location.valid)}"
                 for="location">
                <span>location</span>
            </label>
            <span></span>
        </div>

        <div *ngIf="!formUpdateEtudiant.location.valid && (formUpdateEtudiant.location.dirty ||formUpdateEtudiant.location.touched)">
            <div [hidden]="!formUpdateEtudiant.location.errors.required" class="alert alert-danger py-2 mt-3">
                La location est obligatoire
            </div>
        </div>

        <div class="field name-box my-4">
            <input type="text" id="sujet" formControlName="sujet" placeholder="SUJET" [(ngModel)]="etudiant.sujet"/>
            <label [ngClass]="{'isOpen': (formUpdateEtudiant.sujet.valid)}"
                 for="sujet">
                <span>sujet</span>
            </label>
            <span></span>
        </div>

        <div *ngIf="!formUpdateEtudiant.sujet.valid && (formUpdateEtudiant.sujet.dirty ||formUpdateEtudiant.sujet.touched)">
            <div [hidden]="!formUpdateEtudiant.sujet.errors.required" class="alert alert-danger py-2 mt-3">
                Le sujet est obligatoire
            </div>
        </div>

        <hr>

        <div class="field msg-box my-4">
            <textarea id="message" rows="4" formControlName="message" placeholder="MESSAGE" [(ngModel)]="etudiant.message"></textarea>
            <label [ngClass]="{'isOpen': (formUpdateEtudiant.message.dirty || this.etudiant.message != null)}"
                 for="message">
                <span>message</span>
            </label>
            <span></span>
        </div>
        
        
        <div class="row  justify-content-md-center">
            <div class="col-sm-12 col-lg-5 mb-3">
                <a [routerLink]="['/crud']">
                    <input class="button" type="button" value="Retour" />
                </a>
            </div>
            <div class="col-sm-12 col-lg-5 mb-3">
                <a data-toggle="modal" data-target="#confirmationUpdate">
                    <input class="button" type="submit" value="Mise à jour"/>
                </a>
            </div> 
        </div>
        <div *ngIf="validMessage != ''" class="text-danger text-center">
            <h3 class="alert alert-danger py-2 mt-3 display-4">{{validMessage}}</h3>
            <div class="py-2"></div>
        </div>
    </form>
</section>

    <div class="modal fade" id="confirmationUpdate" tabindex="-1" role="dialog" aria-labelledby="confirmationUpdateTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content bg-light">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="confirmationUpdateTitle">Confirmer la mise à jour</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-dark">
              Voulez vous vraiment modifier l'étudiant : {{this.id}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" (click)="updateEtudiant()" data-dismiss="modal" class="btn btn-primary mx-2">Mettre à jour</button>
            </div>
          </div>
        </div>
      </div>