<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
            <h2>Page not found</h2>
        </div>
        <ul class="list-inline mt-5">
            <li class="list-inline-item mb-3"><a routerLink="/home">Page d'acceuil</a></li>
            <li class="list-inline-item mb-3"><a onclick="history.back(-1)">Page précedente</a></li>
            <li class="list-inline-item mb-3"><a routerLink="/contact">Contactez-moi</a></li>
            </ul>
    </div>
</div>
