/* You can add global styles to this file, and also import other style files */
body, html {
    background-image: url('assets/img/background.jpg');
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-size: cover;
}